# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
migrations/

# Environments
.env
venv/
ENV/
env.bak/
*.env
.venv

# VS Code
.vscode/

# Cache files
*cache*.json

# macOS
.DS_Store

# Windows
Thumbs.db